<%-include("partials/header")%>
<link rel="stylesheet" href="/stylesheets/about.css">
    <%-include("partials/nav")%>

    <div class="page1">
      <div class="p1left">
        <img src="https://static01.nyt.com/images/2023/02/04/obituaries/02Dopkeen1-print3/02Dopkeen1-superJumbo.jpg" alt="" width="300px">
      </div>
      <div class="p1right">
        <h1>Hello!</h1>
        <h1>Thanks for stopping by!</h1>
        <br><br>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rerum placeat, quos dolor in aliquam vero minus necessitatibus id. Nulla explicabo quos cupiditate, inventore labore perspiciatis facere vel quae totam natus!</p>
        <br>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis pariatur quis ducimus corporis repellendus sequi facere. Minima at dolorum natus?</p>
        <br>
        <p>Lorem ipsum dolor sit amet.</p>
      </div>
    
    </div>
<%-include("partials/footer")%>


